/* ========== CLIENTS ========== */
.clients {
	padding: 50px 0;
	&__container {
		display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
		grid-template-columns: repeat(4, 1fr);
		place-items: center;
		gap: 30px;
	}
	@media (max-width: 991px) {
		&__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 767px) {
		padding: 25px 0;
	}
	@media (max-width: 575px) {
		&__container {
			grid-template-columns: 1fr;
		}
	}
}
