/* ========== TOOLTIP ========== */
.tooltip {
	padding: 32px;
	background: #fff;
	box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	display: flex;
	align-items: center;
	width: 300px;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	&__icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		margin: 0 20px 0 0;
		background: rgba($color: #58bebf, $alpha: 0.2);
		border-radius: 50%;
	}
	&__title {
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.8px;
	}
	&__text {
		letter-spacing: 1.15px;
	}
}
