/* ========== VARIABLES ========== */
:root {
	--text-color-main: #323232;
	--text-color-second: #ffffff;
	--text-color-hover: #F78434;
	--accent-color-main: #F78434;
	--accent-color-second: #ffffff;
	--accent-color-third: #323232;
	--accent-color-fourth: #58BEBF;
	--accent-color-hover: #e46002;
}